.container
  %div{:align => "center"}
    %h1 Sign in
  #actions
    = form_for(:session, :url => sessions_path) do |f|
      #field
        %br
        .control-group
          = f.label :email
          .controls
            = f.text_field :email
      #field
        .control-group
          = f.label :password
          .controls
            = f.password_field :password
      #actions
        = f.submit "Sign in", :class => 'btn btn-primary'

    %p New user?
    = link_to ("Sign up now!"), nil, :class => 'btn btn-small btn-default'
