- model_class = @webinar.class
.container-fluid
  %h1=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")
  %br
= render :partial => "form"
