- model_class = Webinar.new.class

.container-fluid
  %table.table.table-striped.table-bordered.span10
    %h1=t '.title', :default => model_class.model_name.human.pluralize
    %br
    %thead
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:location)
        %th= model_class.human_attribute_name(:time)
        %th= model_class.human_attribute_name(:date)
        %th= model_class.human_attribute_name(:description)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @webinars.each do |webinar|
        %tr
          %td= webinar.title
          %td= webinar.location
          %td= webinar.time
          %td= webinar.date
          %td= webinar.description
          %td
            = link_to t('.show', :default => t("helpers.links.show")), webinar_path(webinar), :class => 'btn btn-mini btn-info'
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_webinar_path(webinar), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), webinar_path(webinar), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

.container-fluid
  = link_to t('.new', :default => t("helpers.links.new")), new_webinar_path, :class => 'btn btn-primary'
