= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .container-fluid
    %form.form-stacked
      %fieldset
        %em
          #field
          .control-group
            = f.label :email, :class => 'control-label'
            .controls
              = f.text_field :email, :class => 'text_field'
          .control-group
            = f.label :name, :class => 'control-label'
            .controls
              = f.text_field :name, :class => 'text_field'
          .control-group
            = f.label :encrypted_password, :class => 'control-label'
            .controls
              = f.text_field :encrypted_password, :class => 'text_field'
          .control-group
            = f.label :admin, :class => 'control-label'
            .controls
              = f.check_box :admin, :class => 'check_box'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
