- model_class = User.new.class

.container-fluid
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  %br
  %table.table.table-striped.table-bordered.span10
    %thead
      %tr
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:encrypted_password)
        %th= model_class.human_attribute_name(:admin)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.encrypted_password
          %td= user.admin
          %td
            = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class =>  'btn btn-mini btn-info'
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
.container-fluid 
  = link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
