- model_class = @user.class
.container-fluid
  %h1=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")
  %br
= render :partial => "form"
